@import "../layout/variables";
.master {
  height: 100%;
  width: 100%;
}
.master::before {
  content: "";
  position: fixed;
  width: 300%;
  height: 100%;
  background-color: $color_b;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) skew(0, -10deg);
  border-radius: 50%;
  z-index: -1;
  animation: waving 5s ease-in-out infinite alternate;
}
